body {
  background-image: url("house_crests/rosie-sun-1L71sPT5XKc-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: harryp;
  src: url(HARRYP__.TTF);
}

@font-face {
  font-family: dumital;
  src: url(dum1ital.ttf);
}

.hogwartsoverskrift {
  color: #f3f3f3;
  text-align: center;
  margin-top: 50px;
  font-family: harryp;
  font-size: 50px;
  margin-bottom: 12px;
  margin-top: 35px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: 60px;
  margin-right: 60px;
}

.numberheading {
  text-align: center;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  font-family: dumital;
  font-size: 20px;
  margin-top: 15px;
}

/* .studentlist {
} */

.hackthesystem {
  background: transparent;
  border: none !important;
  color: transparent;
  cursor: pointer;
}

.search {
  color: white;
  font-family: dumital;
  font-size: 20px;
}

/* .fixnav {
  position: fixed;
  background-color: white;
} */

#filter {
  width: 130px;
  position: fixed;
  /* z-index: 1; */
  top: 230px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  color: white;
  /* display: block; */
  font-family: dumital;
  font-size: 20px;
}

button.filter {
  margin-bottom: 3px;
  font-family: dumital;
  font-size: 15px;
  background-color: #333;
  color: white;
}

button.filter:hover {
  background-color: black;
}

.studentviewlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

tbody {
  text-align: center;
  font-family: dumital;
}

[data-action] {
  cursor: pointer;
  text-align: center;
}

#sorting {
  color: white;
  font-family: dumital;
  font-size: 20px;
  font-weight: 400;
}

#sorting th.sortby {
  text-decoration: underline;
  color: white;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↑";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↓";
}

#list {
  border-collapse: collapse;
  width: 650px;
}

#list tbody tr td {
  padding: 4px;
}

#list tbody tr:nth-child(odd) td {
  /* background-color: lightblue; */
  border-right: rgb(240, 249, 255) 1px solid;
  border-bottom: rgb(240, 249, 255) 1px solid;
  border-left: rgb(240, 249, 255) 1px solid;
  border-top: rgb(240, 249, 255) 1px solid;
}

#list tbody tr:nth-child(odd) td:hover {
  /* color: rgb(102, 32, 189); */
  background-color: rgba(0, 0, 255, 0.285);
}

#list tbody tr:nth-child(even) td {
  border-right: rgb(255, 255, 255) 1px solid;
  border-bottom: rgb(255, 255, 255) 1px solid;
  border-left: rgb(240, 249, 255) 1px solid;
  border-top: rgb(240, 249, 255) 1px solid;
}

#list tbody tr:nth-child(even) td:hover {
  background-color: rgba(0, 0, 255, 0.285);
}

/* pop op hide */
.hide {
  visibility: hidden;
}

/* Dialog popup */

.modalpop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogstudentinfo {
  box-shadow: 3px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: #fff3ea;
  position: relative;
}

button.closingbutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

td[data-field="squad"] {
  cursor: pointer;
}

/* when the user click on squad */
td[data-field="squad"]::after {
  content: "Ⓘ";
  color: rgb(48, 204, 48);
  font-weight: 600;
}

/* when the user isnt in squad */
td[data-field="squad"][data-squad="false"]::after {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

td[data-field="prefect"] {
  cursor: pointer;
}

/* when user click */
td[data-field="prefect"]::after {
  content: "Ⓟ";
  color: rgb(48, 204, 48);
  font-weight: 600;
}

/* the color when the student isnt a prefect */
td[data-field="prefect"][data-prefect="false"]::after {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

td[data-field="expel"] {
  cursor: pointer;
}

/* when user click on expel */
td[data-field="expel"]::after {
  content: "Ⓔ";
  color: rgb(251, 46, 46);
  font-weight: 600;
}

/* the color when the student isnt expelled */
td[data-field="expel"][data-expel="false"]::after {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

td[data-field="firstname"] {
  cursor: pointer;
}

td[data-field="lastname"] {
  cursor: pointer;
}

td[data-field="house"] {
  cursor: pointer;
}

/* remove prefect modal  */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 3px 1px 10px #ff1b1b;
  border-radius: 12px;
  padding: 2em;
  background-color: #160d0d;
  position: relative;
  color: white;
  text-align: center;
}

h1 {
  font-family: harryp;
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}

p {
  font-family: dumital;
}

.sidebyside {
  margin-top: 20px;
}

button#removea {
  margin-bottom: 3px;
  font-family: dumital;
  font-size: 15px;
  background-color: #333;
  color: white;
}

button#removeb:hover {
  background-color: black;
}

button#removeb {
  margin-bottom: 3px;
  font-family: dumital;
  font-size: 15px;
  background-color: #333;
  color: white;
}

button#removea:hover {
  background-color: black;
}

button.closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

button#yesexpel {
  margin-bottom: 3px;
  font-family: dumital;
  font-size: 15px;
  background-color: #333;
  color: white;
  margin-top: 20px;
}

button#yesexpel:hover {
  background-color: black;
}

.housephoto {
  width: 50px;
}

td {
  color: white;
}

p {
  margin-bottom: 3px;
  margin-top: 0;
}
